@import './variables.scss';

// DASHBOARD STYLES

#dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;

  button {
    border-radius: 10%;
    background-color: $background-color;
    color: $primary-color;
    border: 1px solid $secondary-color;
    padding: 3, 5;
    margin-right: 3px;
    margin-left: 400px;
  }

  #box-titles {
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
    font-size: 0.8rem;
    margin-bottom: 10px;
    align-self: center;
  }

  #top-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 350px;
    margin-bottom: 1rem;
    padding: 0.5rem;

    #LineChartContainer {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      border: 1px solid $primary-color;
      padding: 0.5rem;
    }

    .LineChart {
      position: relative;
      max-height: 100%;
    }

    #PieChartContainer {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 31.75%;
      height: 100%;
      border: 1px solid $primary-color;
      padding: 0.5rem;
      margin-right: 2rem;
    }

    .PieChart {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 90%;
      min-width: 90%;
    }
  }

  #middle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 260px;
    padding-top: 20px;

    #MapContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 31.5%;
      height: 100%;
      border: 1px solid $primary-color;
    }

    #map {
    }

    #NodeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 31.5%;
      height: 100%;
      border: 1px solid $primary-color;
    }

    #node {
      #node-label {
        color: $primary-color;
      }
    }

    #StatsContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      width: 31.5%;
      height: 100%;
      border: 1px solid $primary-color;

      p {
        font-family: Arial, Helvetica, sans-serif;
        color: $primary-color;
        font-size: 0.75rem;
        margin: 10px;
      }
    }

    #Stats {
    }
  }

  #bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    height: auto;
    border: 1px solid $primary-color;
    padding-top: 20px;

    ::-webkit-scrollbar {
      display: none;
    }

    #LogContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      color: snow;
      text-align: center;
      height: 35vh;
      overflow: scroll;
      position: relative;
    }

    #log-header {
      display: flex;
      position: fixed;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      background-color: $background-color;
      padding-bottom: 1rem;
      div {
        flex: 1 1 0;
      }

      .wide-data {
        flex-grow: 2;
      }

      .spacer {
        max-width: 39px;
      }
    }

    .mutationRows {
      margin-top: 3rem;
      width: 100%;
    }
    .mutation-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;

      div {
        flex: 1 1 0;
      }

      .wide-data {
        flex-grow: 2;
      }

      button {
        margin-left: 5px;
        height: auto;
        font-size: 1.5rem;
        border: none;

        :focus {
          border: none;
        }
      }

      .aql-container {
        border: 1px solid snow;
        margin-top: 16px;
        height: inherit;
        width: 100%;
        div {
          flex: 1 1 0;
        }

        .wide-data {
          flex-grow: 2;
        }

        .aql-row-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 10px 0;
        }
      }
    }

    .mutation-data {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
    }

    .aql-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}
