@import './variables.scss';

// DASHBOARD STYLES

#dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  button {
    border-radius: 10%;
    background-color: $background-color;
    color: $primary-color;
    border: 1px solid $secondary-color;
    padding: 3, 5;
    margin-right: 3px;
    margin-left: 400px;
  }

  #box-titles {
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
    font-size: 0.8rem;
    margin-bottom: 10px;
    align-self: center;
  }

  #top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 260px;

    #LineChartContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65.5%;
      height: 100%;
      border: 1px solid $primary-color;
    }

    .LineChart {
      overflow: visible;
      min-width: 400px;
    }

    #PieChartContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 31.75%;
      height: 100%;
      border: 1px solid $primary-color;
    }

    #PieChart {
      padding: 15px;
    }
  }

  #middle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 260px;
    padding-top: 20px;

    #MapContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 31.5%;
      height: 100%;
      border: 1px solid $primary-color;
    }

    #map {
    }

    #NodeContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 31.5%;
      height: 100%;
      border: 1px solid $primary-color;
    }

    #node {
      #node-label {
        color: $primary-color;
      }
    }

    #StatsContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      width: 31.5%;
      height: 100%;
      border: 1px solid $primary-color;

      p {
        font-family: Arial, Helvetica, sans-serif;
        color: $primary-color;
        font-size: 0.75rem;
        margin: 10px;
      }
    }

    #Stats {
    }
  }

  #bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    height: auto;
    border: 1px solid $primary-color;
    padding-top: 20px;

    #LogContainer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      align-items: center;
      color: snow;
      text-align: center;
    }

    #log-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      div {
        flex: 1 1 0;
      }

      .wide-data {
        flex-grow: 2;
      }

      .spacer {
        padding: 3, 5;
    margin-right: 3px;
    margin-left: 5px;
    width: 31px;
      }
    }

    .mutation-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;

      div {
        flex: 1 1 0;
      }

      .wide-data {
        flex-grow: 2;
      }

      button {
        margin-left: 5px;
      }

      .aql-container {
        border: 1px solid snow;
        margin-top: 16px;
        width: 80%;

        div {
          flex: 1 1 0;
        }
  
        .wide-data {
          flex-grow: 2;
        }

    .aql-row-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
     
    }
      }
    }

    .mutation-data {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
    }

    .aql-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }
}
