@import './variables';

html,
body {
  background-color: $background-color;
}

// NAVBAR STYLES: LOGO AND USER BUTTON
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 15px;
  // border-bottom: 1px solid $secondary-color;

  font-family: Georgia, 'Times New Roman', Times, serif;

  #logo {
    font-size: 40px;
    color: $primary-color;
    margin-left: 25px;
  }

  #logoutbutton {
    position: absolute;
    transform: translate(-45px, -10px);
    color: $primary-color;
    background-color: $background-color;
    border: none;
    border: none;
    outline: none;
  }

  #userbutton {
    border-radius: 50%;
    background-color: $secondary-color;
    border: none;
    height: 30px;
    width: 30px;
    margin-right: 25px;
    border: none;
    outline: none;
    z-index: 10;
    transition: 0.5s;
  }

  #userbutton:hover {
    background-color: $hover-color;
  }

  .dropdown-menu {
    background-color: $background-color;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    right: 25px;
    width: 85px;
    height: 30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    transition: 0.5s ease;
  }
 
  .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    top: 60px;
  }

  .dropdown-menu:hover {
    border: 1px solid $tertiary-color;
  }
  
  .dropdown-menu ul {
    list-style: none;
  }

  .menu-trigger {
    background-color: $background-color;
    color: $primary-color;
    transition: 0.5s;
  }

  .menu-trigger:hover {
    background-color: #272d47;
  }

}

// FOOTER STYLES
