@import './variables.scss';

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0; 
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;

  li {
    float: left;

    a {
      display: block;
      padding: 15px 15px;
      text-decoration: none;
      font-size: 14px;
      color: white;
    }
  }
}

#landingdiv {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: none;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 50%;
  margin-top: -15vw;
  margin-left: -15vw;
  justify-content: space-evenly;
  align-items: center;
}

#welcome {
  font-family: Arial, Helvetica, sans-serif;
  color: $secondary-color;
  font-size: 2vw;
}

#aqlholder {
  margin-top: 5px;
  display: flex;
  background-color: $primary-color;
  border: none;
  border-radius: 25%;
  width: 20vw;
  height: 20vw;
  justify-content: center;
  align-items: center;
}

#landingAql {
  position: absolute;
  width: 50%;
}

.buttonholder {
  width: 105px;
}

#loginbutton {
  background-color: $secondary-color;
  color: $primary-color;
  margin: 1em 1em 0.5em 0;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  border: none;
  outline: none;
  font-size: 13px;
  transition: 0.5s;
}

#loginbutton:hover {
  background-color: $hover-color;
}