@import './variables.scss';

html {
  scroll-behavior: smooth;
}

#landing {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  justify-content: space-between;
  align-items: center;
  width: 72vw;
  height: 180vh;
  position: relative;
  left: 50%;
  transform: translateX(-36vw);
}

#landingdiv {
  width: 41vw;
  height: 64vh;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#welcome {
  font-family: Arial, Helvetica, sans-serif;
  color: $secondary-color;
  font-size: 2vw;
}

#aqlblue {
  margin-top: 3vw;
  width: 8vw;
  height: auto;
}

#browserimage {
  position: relative;
  width: 42vw;
  min-width: 500px;
  max-width: 1200px;
  height: auto;
}

.buttonholder {
  width: 25vw;
  margin-bottom: 3vw;
  min-width: 210px;
  justify-content: space-evenly;
  display: flex;

  button {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
    width: 10vw;
    height: 3vh;
    min-height: 35px;
    min-width: 100px;
    border: none;
    outline: none;
    font-size: 13px;
    transition: 0.5s;
  }

  button:hover {
    background-color: $hover-color;
  }

}

.downArrow {
  width: 36px;
  height: 36px;
}

#landingcontainer {
  width: 72vw;
  max-width: 1200px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.landingcontainer {
  width: 100%;
  height: 25vh;
  background-color: $background-color;
  color: $secondary-color;
  margin-bottom: 30px;
  border-radius: 15px;
  border: 2px solid $secondary-color;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.containerTitle {
  flex: 1;
  background-color: $background-color;
  border-right: 2px solid $secondary-color;
  margin: 5px 5px 5px 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.containerContent {
  flex: 4;
  background-color: $background-color;
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.infoIcon {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

#sociallinks {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

#sociallinks a {
  text-decoration: none;
  display: flex;
  justify-content: start;
}

#sociallinks a:visited {
  color: $tertiary-color;
}

#aboutus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#aboutus img {
  height: 15vh;
  width: auto;
  border-radius: 50%;
}

#aboutus div {
  font-size: 0.9rem;
  margin-top: 0.5vh;
}

#aboutus a {
  text-decoration: none;
  color: $secondary-color;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

#sociallinks a:visited {
  color: $secondary-color;
  font-size: 0.9rem;
}